@font-face
    {
        font-family: tempDigital;
        src: url(RADIOLAND.ttf);
    }

/* #summary_div {
  visibility: hidden;
} */

p {
  color: white;
}
.stat-box {
  background-color: white;
  float: left;
  height: 150px;
  margin-left: 20px;
  width: 150px;
  background-color: rgb(120, 112, 111);
  box-shadow: 2px 2px 2px #1a3b7d;
 border-radius: 5px;
 color: white;
}

.flexcontainer {
  display:flex;
}

#news {
  font-size: 32px;
  color: white;
  font-weight: bold;
}

#summary_div {
  background-color: rgb(89, 84, 83);
  border-radius: 4px;
}

#summary {
  font-size: 22px;
  color: white;
  font-family: PTSans-Regular;
  /* font-weight: bold; */
}

#currentCountry, #country
{
  font-size: 20px;
  color: white;
}

#country{
  color: red;
}

#coronatracker
{
  font-weight: bold;
  font-size: 22px;
  border-radius: 5px;
  visibility: hidden;
  float: right;
  margin-right: 200px;
}

#totalcases, #newcases, #totaldeath, #newdeath
{
  font-size: 22px;
  /* color: #DC143C; */
  /* float: left; */
  color: white;
}

#totaldeath{
  display: inline;
}

#image {
   width: 30%;
   height: 30%;
   border-radius: 24px;
   box-shadow: 2px 2px grey;
   float: left;
}

body
{
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#status
{
        /* avoid an excessively wide status text */
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 400px;
}


#corner
{
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-style: "italic";
		font-weight: "bold";
		float:right
}


#main_quote
{
		font-weight:"bold"
}

#temperature
{

            font-size: 40px;
            font-weight: bold;
            /* color: #191970 */
            color: white;

}

#currentCountry
{
    font-weight: bold;

}

#NewsButton, #globalNewsButton, #keywordInput
{
    color: #rgb(0,0,0);
    border-radius: 5px;
    width: 15%;
    height: 40px;
}

#linkToNews
{
  text-decoration: none;
  color: #fff
}

#whatsNew
{
  font-weight: italics;
  font-size: 15px;
}

#countryDiv
{
  background-color: rgb(20,107,26);
  border-radius: 4px;
  box-shadow: 2px 2px black;
  width: 300px;
  height: 50px
}
